div{
  width: 100px;
  height: 100px;
  background-color: black;
  animation-name: example;
  animation-duration: 10s;
  position: relative;
  animation-iteration-count:infinite;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}
@keyframes example{
  0%  { background-color: black; left: 0px; top: 0px;}
  25% { background-color: red; left: 0px; top: 600px;}
  50% { background-color: black; left: 600px; top: 600px;}
  75% { background-color: red; left: 600px; top: 0px;}
  100% { background-color: black; left: 0px; top: 0px;}
}
